00100       0          0 allow ip from any to any via lo0
00200       0          0 deny ip from any to 127.0.0.0/8
00300       0          0 deny ip from 127.0.0.0/8 to any
00400       0          0 deny ip from any to ::1
00500       0          0 deny ip from ::1 to any
00600       0          0 allow ipv6-icmp from :: to ff02::/16
00700       0          0 allow ipv6-icmp from fe80::/10 to fe80::/10
00800       0          0 allow ipv6-icmp from fe80::/10 to ff02::/16
00900       0          0 allow ipv6-icmp from any to any ip6 icmp6types 1
01000       4        272 allow ipv6-icmp from any to any ip6 icmp6types 2,135,136
01100       0          0 check-state
01200 2351855  122606580 allow tcp from me to any established
01300       0          0 allow tcp from me to any setup keep-state
01400       6        700 allow udp from me to any keep-state
01500       0          0 allow icmp from me to any keep-state
01600       0          0 allow ipv6-icmp from me to any keep-state
01700       0          0 allow udp from 0.0.0.0 68 to 255.255.255.255 dst-port 67 out
01800       0          0 allow udp from any 67 to me dst-port 68 in
01900       0          0 allow udp from any 67 to 255.255.255.255 dst-port 68 in
02000       0          0 allow udp from fe80::/10 to me dst-port 546 in
02100       0          0 allow icmp from any to any icmptypes 8
02200       0          0 allow ipv6-icmp from any to any ip6 icmp6types 128,129
02300       0          0 allow icmp from any to any icmptypes 3,4,11
02400       0          0 allow ipv6-icmp from any to any ip6 icmp6types 3
02500     646      42824 allow tcp from any to me dst-port 22
02600 4502728 6525639864 allow tcp from any to me dst-port 80
65000      25       1300 count ip from any to any
65100       1         40 deny { tcp or udp } from any to any dst-port 135-139,445 in
65200       0          0 deny { tcp or udp } from any to any dst-port 1026,1027 in
65300       0          0 deny { tcp or udp } from any to any dst-port 1433,1434 in
65400       0          0 deny ip from any to 255.255.255.255
65500       0          0 deny ip from any to 224.0.0.0/24 in
65500       0          0 deny udp from any to any dst-port 520 in
65500       0          0 deny tcp from any 80,443 to any dst-port 1024-65535 in
65500      24       1260 deny log logamount 500 ip from any to any
65535       1         52 deny ip from any to any
